name: Generate Contribution Snake

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: RahulSharma4532
          outputs: |
             output/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#22c55e&color_dots=#1f2937,#1f2937,#1f2937,#1f2937,#22c55e

      - name: Push snake files
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
